<div style="display: none">
  <form class="ui form" id="recipes-form">
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" placeholder="Name"/>
    </div>
    <div class="field">
      <label>Description</label>
      <input type="text" name="description" placeholder="Last Name"/>
    </div>
    <div class="field">
      <label>Ingredients</label>
      <select class="ui fluid search dropdown" multiple="" id="multiple-search">
        <option value="">Select Country</option>
        <option value="AF">Afghanistan</option>
        <option value="AR">Argentina</option>
        <option value="BR">Brasil</option>
        <option value="UR">Uruguay</option>
        <option value="PA">Paraguay</option>
        <option value="PE">Peru</option>
      </select>
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</div>