{% extends 'base.html' %}

{% block menu %}

<script>
  // $( document ).ready(function() {

    menu = {};

    // ready event
    menu.ready = function() {

      // selector cache
      var
        $menuItem = $('.menu a.item, .menu .link.item'),
        // alias
        handler = {
          activate: function() {
            $(this)
            .addClass('active')
            .closest('.ui.menu')
            .find('.item')
            .not($(this))
            .removeClass('active');
          }
        }
      ;

      $menuItem
        .on('click', handler.activate)
      ;

    };

    // attach ready event
    $(document).ready(menu.ready);

    // $('.menu .item').tab();
    //$('.ui.dropdown').dropdown();


  // });
</script>

  <div class="sixteen wide column">
    <div class="ui pointing menu">
      <a class="active item">Home</a>
      <a class="item" href="#ingredients">Ingredientes</a>
      <a class="item" href="#prices">Precios</a>
      <a class="item" href="#recipes">Recetas</a>
      <a class="item" data="#orders">Pedidos</a>
      <div class="right menu">
        <div class="item">
          <div class="ui transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <p id="menu-container">
        <div id="recipes-container"></div>
      </p>
    </div>
  </div>

{% comment %}
{% include 'recipes/form.html' %}

<div class="ui vertical menu" style="display: none">
  <a class="active teal item">
    Inbox
    <div class="ui teal pointing left label">1</div>
  </a>
  <a class="item">
    Spam
    <div class="ui label">51</div>
  </a>
  <a class="item" href="{% url 'ingredients:list' %}">
    Ingredientes
    <div class="ui label">51</div>
  </a>
  <a class="item">
    Platos
    <div class="ui label">51</div>
  </a>
  <a class="item">
    Organizar
    <div class="ui label">51</div>
  </a>
  <a class="item">
    Updates
    <div class="ui label">1</div>
  </a>
  <div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search mail...">
      <i class="search icon"></i>
    </div>
  </div>
</div>
{% endcomment %}
{% endblock menu %}