{% load staticfiles %}

<html>

  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'semantic/dist/semantic.js' %}"></script>
  </head>

  <body>

    <div class="ui page padded grid">
      {% block grid %}
        <div class="three column row">
          <div class="column"> Horizontal section, column 1</div>
          <div class="column"> Horizontal section, column 2</div>
          <div class="column">
            {% if not user.is_authenticated %}
              <div class="ui buttons">
                <a href="{% url 'users:login' %}"><button class="ui button">Login</button></a>
                <div class="or"></div>
                <a href="{% url 'users:signup' %}"><button class="ui positive button">Sign up</button></a>
              </div>
            {% else %}
              <div class="ui buttons">
                <a href="{% url 'users:logout' %}"><button class="ui yellow button">Logout</button></a>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="two column row">
          {% block menu %}
            <div class="column">
              <div class="ui segment">
                <div class="ui vertical segment">
                  <p>Left column, row 1</p>
                </div>
                <div class="ui vertical segment">
                  <p>Left column, row 2</p>
                </div>
                <div class="ui vertical segment">
                  <p>Left column, row 3</p>
                </div>
              </div>
            </div>
          {% endblock %}
          <div class="column">
            {% block content %}
            <div class="row"> Right column, row 1</div>
            <div class="row"> Right column, row 2</div>
            {% endblock %}
          </div>
        </div>
      {% endblock grid %}
    </div>

    {% include 'modal.html' %}

  </body>

  {% block scripts %}
  {% endblock %}

  <script src="{% static 'build/bundle.js' %}"></script>

</html>