{% load staticfiles %}

<html>

  <head>

    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/components/menu.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/components/dropdown.min.css' %}">
    <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
    <script src="{% static 'semantic/dist/components/dropdown.min.js' %}"></script>
    -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
    <script src="static/semantic/dist/semantic.js"></script>

    <script>
      $(document).ready(function() {
        console.log($('.menu'));
        //$('.menu').menu();
        $('.dropdown').dropdown();
      });
    </script>
  </head>

  <body>

    <div class="grid">

      <div class="ui main container">

        <div class="ui pointing menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
          <div class="right menu">
            <div class="item">
              <div class="ui transparent icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="ui segment">
          <p></p>
        </div>

        <div class="ui vertical menu">
          <div class="ui dropdown item">
            Categories
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item">Electronics</a>
              <a class="item">Automotive</a>
              <a class="item">Home</a>
            </div>
          </div>
        </div>

        <div class="main ui container">

        <div class="another school example">
          <i class="icon code"></i><div class="ui text menu">
            <div class="item">
              <img src="/images/new-school.jpg">
            </div>
            <a class="browse item">
              Browse Courses
              <i class="dropdown icon"></i>
            </a>
            <div class="ui right dropdown item" tabindex="0">
              More
              <i class="dropdown icon"></i>
              <div class="menu" tabindex="-1">
                <div class="item">Applications</div>
                <div class="item">International Students</div>
                <div class="item">Scholarships</div>
              </div>
            </div>
          </div>
          <div class="ui flowing basic admission popup">
            <div class="ui three column relaxed divided grid">
              <div class="column">
                <h4 class="ui header">Business</h4>
                <div class="ui link list">
                  <a class="item">Design &amp; Urban Ecologies</a>
                  <a class="item">Fashion Design</a>
                  <a class="item">Fine Art</a>
                  <a class="item">Strategic Design</a>
                </div>
              </div>
              <div class="column">
                <h4 class="ui header">Liberal Arts</h4>
                <div class="ui link list">
                  <a class="item">Anthropology</a>
                  <a class="item">Economics</a>
                  <a class="item">Media Studies</a>
                  <a class="item">Philosophy</a>
                </div>
              </div>
              <div class="column">
                <h4 class="ui header">Social Sciences</h4>
                <div class="ui link list">
                  <a class="item">Food Studies</a>
                  <a class="item">Journalism</a>
                  <a class="item">Non Profit Management</a>
                </div>
              </div>
            </div>
          </div>
        </div>


        </div>

      </div>



  </body>

  <script src="{% static 'build/bundle.js' %}"></script>

</html>