{% load staticfiles %}

<html>

  <head>

    <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'semantic/dist/semantic.js' %}"></script>

    <script>
      $(document).ready(function() {
        $('.dropdown').dropdown();
      });
    </script>
  </head>

  <body>

    <div class="grid">

      <div class="ui main container">

        {% if not user.is_authenticated %}
          <div class="ui buttons">
            <a href="{% url 'users:login' %}"><button class="ui button">Login</button></a>
            <div class="or"></div>
            <a href="{% url 'users:signup' %}"><button class="ui positive button">Sign up</button></a>
          </div>
        {% endif %}

        <div class="ui three item menu">
          <a class="active item">Semana Actual</a>
          <a class="item">Semana que viene</a>
          <a class="item">Mes</a>
        </div>

        <div class="ui vertical menu"  style="display: none">
          <div class="ui dropdown item">
            Categories
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item">Electronics</a>
              <a class="item">Automotive</a>
              <a class="item">Home</a>
            </div>
          </div>
        </div>

        <div class="ui segment">
          <p>
            {% block content %}
            {% endblock %}
          </p>
        </div>

      </div>

    </div>

  </body>

  <script src="{% static 'build/bundle.js' %}"></script>

</html>